body.date-open {
	@media screen and (max-width : 769px) {
		overflow: hidden;
	}
}

.help-text {
	margin-top: 16px;

	&.error {
		color: #D40922;
	}
}

.rdatez {
	position: relative;
	display: block;

	& a, & a:link, & a:visited {
		text-decoration: none;
	}

	&.error .rdatez-picker {
		color: #666666;
	}

	&-centered &-picker {
		left: 50%;
		transform: translate(-50%, 0);

		&:before, &:after {
			left: 50%;
			transform: translate(-50%, 0);
		}

		@media screen and (max-width : 769px) {
				transform: none;
				left: 0;
		}
	}

	&.rdatez-disabled {
		& > input {
			opacity: 0.7;
			cursor: not-allowed;
		}

		& .cal-icon:hover {
			cursor: not-allowed;
		}

	}

	& .cal-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
		width: 18px;
		height: 18px;
		fill: #3E3E3E;
		&:hover {
			cursor: pointer;
		}
	}

	&-right &-picker {
		left: auto;
		right: 0;

		&:before, &:after {
			left: auto;
			right: 12px;
		}
	}

	&-picker {
		margin-top: 16px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		padding: 16px;
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		width: 100%;
		box-shadow: 0 5px 10px rgba(0,0,0,.05);
		z-index: 200;

		@media screen and (max-width : 769px) {
				overflow: scroll;
		}

		@media screen and (min-width : 768px) {
			min-width: 400px;
		}
		&.no-cal{
			display: none;
		}

		&.multi-cal {
			min-width: auto;
			max-width: auto;

			@media screen and (min-width : 768px) {
				min-width: 700px;
				max-width: 700px;
			}

			@media screen and (max-width : 769px) {
				& .rdatez-calendar {
					flex-direction: column;
				}
			}

			& .rdatez-calendar > div {
				&:first-child {
					margin-right: 16px;
				}

				@media screen and (max-width : 769px) {
					margin: 0 0 16px;
				}
			}
		}

		& > div {
			position: relative;
		}

		@media screen and (max-width : 769px) {
			position: fixed;
			margin-top: 0;
			border-radius: 0;
			border: none;
			top: 0 !important;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			min-width: auto;
		}

		&:before {
			position: absolute;
			top: -25px;
			left: 12px;
			content: '';
			border: 12px solid transparent;
			border-bottom: 12px solid #cccccc;
		}

		&:after {
			position: absolute;
			top: -24px;
			left: 12px;
			content: '';
			border: 12px solid transparent;
			border-bottom: 12px solid white;
		}
	}

	&-mobile-close {
		display: none;
		position: absolute;
		top: -1px;
		right: 10px;
		z-index: 100;
		background: none;
		border: none;

		& > svg {
			fill: black;
			height: 32px;
			width: 32px;
		}

		@media screen and (max-width : 769px) {
			display: block;
		}
	}

	&-header {
		@media screen and (max-width : 769px) {
			text-align: left;
            position: fixed;
            left: 0;
            right: 0;
            padding: 0 16px;
            background: white;
    		box-shadow: 0 5px 10px rgba(0,0,0,.05);
            z-index: 999;
		}
	}

	&-btn {
		background: white;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 4px;
		text-align: center;
		height: 36px;
		width: 40px;
		padding: 0 8px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;

		@media screen and (max-width : 769px) {
			position: static;
			margin-bottom: 16px;
			margin-right: 8px;
		}

		& > svg {
			fill: black;
			width: 18px;
			height: 18px;
			vertical-align: top;
		}

		&-year {
			left: 48px;
		}

		&-today {
			right: 48px;
		}

		&-prev {
			left: 0;
		}
	}

	&-month-days {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-calendar {
		display: flex;
		overflow: hidden;
		justify-content: space-between;

		@media screen and (max-width : 769px) {
            margin-top: 80px;
        }

		&-title {
			font-weight: 800;
			text-align: center;
    		padding: 10px 0;
			color: #666;
		}

		& > div {
			width: 100%;
		}

		&-month, &-year {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			position: absolute;
			padding: 16px;
			top: 50px;
			left: 0;
			bottom: 0;
			background: white;
			width: 100%;
			border-top: 1px solid rgba(0,0,0,.1);
    	align-items: center;

			@media screen and (max-width : 769px) {
					position: fixed;
					height: 100%;
			}
		}
	}

	&-daysofweek {
		width: 100%;
		margin: 16px 0 8px;
		display: flex;
		color: #666;

		& > span {
			width: 14.285%;
			font-size: 11px;
			text-align: center;
		}
	}

	&-day {
		display: flex;
		background: none;
		justify-content: center;
		align-items: center;
		width: 14.285%;
		height: 40px;
		border: 1px solid rgba(0,0,0,.1);
		border-right: 1px solid rgba(0,0,0,.1);
		border-bottom: 1px solid rgba(0,0,0,.1);
		position: relative;
		transition: none;
		cursor: pointer;


		&:hover,&:active, &:focus{
			appearance: none!important;
			border:none;
		}
		&:after {
			display: none;
    }

		&.weekday-1 {
			border-left: 1px solid rgba(0,0,0,.1);
		}

		&:nth-last-child(-n+8) {
			border-bottom: 1px solid rgba(0,0,0,.1);
		}

		&:last-child {
			border-top: 0;
		}


		&-spacer {
			border-right: 1px solid rgba(0,0,0,.1);
			border-bottom: 1px solid rgba(0,0,0,.1);

			&.weekday-1 { display: none; }
			&.weekday-2 { width: 14.285%; }
			&.weekday-3 { width: calc(14.285% * 2); }
			&.weekday-4 { width: calc(14.285% * 3); }
			&.weekday-5 { width: calc(14.285% * 4); }
			&.weekday-6 { width: calc(14.285% * 5); }
			&.weekday-0 { width: calc(14.285% * 6); }
		}
	}

	& .starts-on-1 .rdatez-day:nth-child(-n+8) { border-top: 1px solid rgba(0,0,0,.1); }
	& .starts-on-2 .rdatez-day:nth-child(-n+7) { border-top: 1px solid rgba(0,0,0,.1); }
	& .starts-on-3 .rdatez-day:nth-child(-n+6) { border-top: 1px solid rgba(0,0,0,.1); }
	& .starts-on-4 .rdatez-day:nth-child(-n+5) { border-top: 1px solid rgba(0,0,0,.1); }
	& .starts-on-5 .rdatez-day:nth-child(-n+4) { border-top: 1px solid rgba(0,0,0,.1); }
	& .starts-on-6 .rdatez-day:nth-child(-n+3) { border-top: 1px solid rgba(0,0,0,.1); }
	& .starts-on-0 .rdatez-day:nth-child(-n+2) { border-top: 1px solid rgba(0,0,0,.1); }

	&-month {
		display: flex;
		background: none;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 40px;
		position: relative;
		transition: none;

		&:after {
			display: none;
		}

		&:hover, &.selected-day {
			cursor: pointer;
			background: rgba(0,0,0,.05);
		}
		&,&:hover,&:active, &:focus{
			appearance: none!important;
			border:none;
		}
	}


	&-year {
		display: flex;
		background: none;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 40px;
		position: relative;
		transition: none;

		&:after {
			display: none;
		}

		&:hover, &.selected-day {
			cursor: pointer;
			background: rgba(0,0,0,.05);
		}

		&,&:hover,&:active, &:focus{
			appearance: none!important;
			border:none;
		}
	}
}

.rdatez-day {
    color: #666;

    &:hover {
        background: rgba(0,0,0,0.1);
    }

    &.past-day {
        color: rgba(0,0,0,0.4)
    }
}

.disallow-past button.rdatez-day, .disallow-future button.rdatez-day {
    color: #666;
}

.disallow-past button.rdatez-day.past-day, .disallow-before-start button.rdatez-day.before-start, .disallow-after-end button.rdatez-day.after-end, .disallow-future button.rdatez-day:not(.past-day):not(.today) {
    color: rgba(0,0,0,0.1);
    cursor: not-allowed;

    &:hover {
        background: none;
    }
}

.highlight-weekends button.rdatez-day.weekday-6, .highlight-weekends button.rdatez-day.weekday-0 {
    background: rgba(0,0,0,.05);

    &:hover {
        background: rgba(0,0,0,0.1);
    }
}

button.selected-day, .disallow-past button.rdatez-day.selected-day, .disallow-past button.rdatez-day.today.selected-day, .disallow-future button.rdatez-day.today.selected-day, .rdatez-day.past-day.selected-day, .highlight-weekends button.rdatez-day.weekday-6.selected-day, .highlight-weekends button.rdatez-day.weekday-0.selected-day {
    background: linear-gradient(to left bottom, #14E3AD 25%, #0BC091);
    border: none;
    color: white;
}
