/* Typeography */

h1, .h1 {
	color: $base-header-font-colour;
	font-size: 2rem;
	font-weight: 600;
}

h2, .h2 {
	color: $base-header-font-colour;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: .7px;
}
