/* Variables */


$primary: #EB3791;
$primary-alt: #4E6DEB;

$secondary: #FF8768;
$secondary-alt: #FF67A4;

$tertiary: #262E48;

$base-font-colour: white;
$base-header-font-colour: white;

$success: #76DE0C;
$danger: #D0011B;
$caution: #F2CD08;

$gray-lighter: #FAFAFA;
$gray-light: #E9E9E9;
$gray: #979797;
$gray-dark: #3E3E3E;
$gray-darker: #212121;

$v-padding-mob: 1rem;
$v-padding: 2rem;
$h-padding-mob: 2rem;
$h-padding: 4rem;

$v-btn-padding: .9rem;
$h-btn-padding: 2rem;

$navbar-height: 85px;
$navbar-mobile-height: 60px;
