<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>ReactDatez</title>
    <meta name="description" content="React Starter">
    <meta name="keywords" content="React,Starter">
    <meta name="author" content="Person Name">
    <link rel="apple-touch-icon" href="/assets/images/apple-icon.png">
    <meta name="viewport" content="width=device-width">

    <!-- Facebook share -->
    <!-- <meta property="og:image" content="http://path-to-image/1200x630.png" />
    <meta property="og:title" content="React Starter" />
    <meta property="og:site" content="http://path-to-site.com" /> -->
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCNDrY1aFohQ-IflLxbodBG9CeQILmSibA&libraries=places"></script>
</head>
<body>
    <div id="app"></div>
    <script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-00000000-0', 'auto'); ga('send', 'pageview');
	</script>
</body>
</html>
